<nav class="bg-white sidebar sidebar-offcanvas" id="sidebar">
  <div class="user-info">
    <img src="images/jcfc-logo.png" alt="">
    <p id="user-fullname" class="name"></p>
    <p id="user-role" class="designation"></p>
    <span class="online"></span>
  </div>
  <ul class="nav">
    <li class="nav-item active">
      <a class="nav-link" href="/home">
        <img src="images/icons/1.png" alt="">
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/upload-grades">
        <img src="images/icons/005-forms.png" alt="">
        <span class="menu-title">Upload Grades</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/display-grades">
        <img src="images/icons/4.png" alt="">
        <span class="menu-title">Display Grades</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="settings-teacher.html">
        <img src="images/settings.png" alt="">
        <span class="menu-title">Settings</span>
      </a>
    </li>
  </ul>
</nav>
